<?xml version="1.0"?>

<model>
  <name>ego_robot_sdf</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Andrea Cavaliere</name>
    <email>andrea.cavaliere@iit.it</email>
  </author>

  <description>
   Delta Quadruped Robot modeled in SDFormat.
  </description>

</model>
